<html>

<head>
  <title>Calling a Web API as a user authenticated with Msal.js app</title>
  <style>
    .hidden {
      visibility: hidden
    }
    .visible {
      visibility: visible
    }
    .response {
      border: solid;
      border-width: thin;
      background-color: azure;
      padding: 2px;
    }
  </style>
</head>

<body>
  <!-- bluebird only needed if this page needs to run on Internet Explorer -->
  <!-- msal.min.js can be used in the place of msal.js; included msal.js to make debug easy -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js" class="pre"></script>
  <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.1.2/js/msal.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" class="pre"></script>

  <h2>Getting an access token with Azure AD B2C and calling a Web API</h2>
  <div>
    <div id="label">Sign-in with Microsoft Azure AD B2C</div>
    <button id="auth" onclick="signIn()">Login</button>
    <button id="callApiButton" class="hidden" onclick="callApi()">Call Web API</button>
    <button id="showTokenButton" class="hidden" onclick="showToken()">Show your token</button>
    <div id="token"></div>
  </div>

  <pre class="response"></pre>

  <script>
    // IMPORTANT NOTE: before going to codes below, check on your Azure B2C page -> select your application, make sure the Reply URL is match with your route from there you start acquiring TOKEN. In this example we start authenticating user from '/login', so the Reply URL should be: http://localhost:3000/login
   
    // The current application coordinates were pre-registered in a B2C tenant.
    var appConfig = {
      tenant: 'speechlab', // change this to match your setup
      clientId: '4346ccbe-c01c-41cc-b585-5193a6c05c8d', // change this to match your setup
      authFlow: 'B2C_1_Speechlab-Authentication', // change this to match your setup
      b2cScopes: ["https://speechlab.onmicrosoft.com/cq-app-2-api/user_impersonation"], // change this to match your setup
      webApi: "http://localhost:3000/users" // sample backend API to test, this endpoint is protected by passport bearer strategy
    };
  </script>

  <script>
    "use strict";
    // configuration to initialize msal
    const msalConfig = {
        auth: {
            clientId: appConfig.clientId,
            authority: `https://login.microsoftonline.com/tfp/${appConfig.tenant}.onmicrosoft.com/${appConfig.authFlow}/`,
            validateAuthority: true
        },
        cache: {
            cacheLocation: "sessionStorage",
            storeAuthStateInCookie: true
        }
    };

    // instantiate MSAL
    const myMSALObj = new Msal.UserAgentApplication(msalConfig);

    // request to signin - returns an idToken
    const loginRequest = {
        scopes: appConfig.b2cScopes
    };

    // request to acquire a token for resource access
    const tokenRequest = {
        scopes: appConfig.b2cScopes
    };

    // signin and acquire a token silently with POPUP flow. Fall back in case of failure with silent acquisition to popup
    function signIn() {
        myMSALObj.loginPopup(loginRequest).then(function (loginResponse) {
            getToken(tokenRequest).then(updateUI);
        }).catch(function (error) {
            logMessage(error);
        });
    }

    //acquire a token silently
    function getToken(tokenRequest) {
        return myMSALObj.acquireTokenSilent(tokenRequest).catch(function(error) {
          console.log("aquire token popup");
          // fallback to interaction when silent call fails
          return myMSALObj.acquireTokenPopup(tokenrequest).then(function (tokenResponse) {
          }).catch(function(error){
            logMessage("Failed token acquisition", error);
        });
      });
    }

    // updates the UI post login/token acqusition
    function updateUI() {
      const account = myMSALObj.getAccount().idToken
      const helloMessage = `Hello ${account.given_name} ${account.family_name} from ${account.country} (email: ${account.emails[0]})`
      logMessage(helloMessage);
      // add the logout button
      const authButton = document.getElementById('auth');
      authButton.innerHTML = 'logout';
      authButton.setAttribute('onclick', 'logout();');
      // greet the user - specifying login
      const label = document.getElementById('label');
      label.innerText = helloMessage;
      // add the callWebApi button
      const callWebApiButton = document.getElementById('callApiButton');
      callWebApiButton.setAttribute('class', 'visible');

      const showTokenButton = document.getElementById('showTokenButton');
      showTokenButton.setAttribute('class', 'visible');
    }

    // calls the resource API with the token
    function callApi() {
      getToken(tokenRequest).then(function(tokenResponse) {
        callApiWithAccessToken(tokenResponse.accessToken);
      });
    }

    // helper function to access the resource with the token
    function callApiWithAccessToken(accessToken) {
      // Call the Web API with the AccessToken
      $.ajax({
        type: "GET",
        url: appConfig.webApi,
        headers: {
          'Authorization': 'Bearer ' + accessToken, // put access token in the header of request
        },
      }).done(function (data) {
        logMessage("Web APi returned:\n" + JSON.stringify(data)); // success
      })
        .fail(function (jqXHR, textStatus) {
          logMessage("Error calling the Web api:\n" + textStatus);
        })
    }

    // signout the user
    function logout() {
      // Removes all sessions, need to call AAD endpoint to do full logout
      myMSALObj.logout();
    }

    // debug helper
    function logMessage(s) {
      document.body.querySelector('.response').appendChild(document.createTextNode('\n' + s));
    }
    
    let isShowToken = false
    function showToken() {
      if (!isShowToken) {
        getToken(tokenRequest).then(function(tokenResponse) {
          document.getElementById('token').innerHTML = tokenResponse.accessToken
        });
        isShowToken = true
      } else {
        document.getElementById('token').innerHTML = ''
        isShowToken = false
      }
    }
  </script>
</body>

</html>